[user]
	name = Joe Nye
	email = joenye@amazon.com
	signingkey = 95CC4CA55A79BFD4
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	mc = diff --stat master HEAD
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
	autocrlf = input
[push]
	default = simple
[gpg]
	program = /usr/local/bin/gpg2
[init]
	templatedir = ~/.git_template
; [commit]
; 	gpgSign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[cola]
	spellcheck = false
